.Cadastro_Pessoa{
    width: 100%;
    height: 1000px;
    background: #E1E1E1;
    display: flex;
    flex-direction: row;
    float: left;
    font-family: 'fontetexto';
}

.divpai{
    width: 60%;
    padding: 5%;
}

.caixa1{
    margin-bottom: 10%;
    width: 100%;
    height: 12%;
}

.nome_cima{
    text-align: left;
    font-family: 'fontetexto';
    font-size: 20px;
    margin-left: 2%;
}
  
#formu{
    display: inline-block;
    font-family: 'fontetexto';
    width: 95%;
    padding: 1% 2%;
    margin-left: 2%;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 5px;

    border: 1px solid black;
}

.div1{
    width: 100%;
    background-color: white;
    height: 70px;
    border-radius: 20px;
    padding: 2.5%;
}

.div2{
    width: 100%;
    background-color: white;
    height: 220px;
    border-radius: 20px;
    margin-top: 3%;
    padding: 2%;
}

.div3{
    width: 100%;
    background-color: white;
    height: 370px;
    border-radius: 20px;
    margin-top: 3%;
    padding: 2%;
}

#senha{
    padding: 2%;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
}

.caixasenha{
    width: 100%;
    height: 100px;
    padding: 2% 2%;
    display: flex;
    flex-direction: row;
}

.nome_senha1{
    float: left;
    width:20%;
}

.nome_senha2{
    float: left;
    width:100%;
}

.senha1{
    display: flex;
    flex-direction: row;
    display: inline-block;
    width: 40%;
}

.senha2{
    display: flex;
    flex-direction: row;
    display: inline-block;
    margin-left: 5%;
    width: 40%;
}

.caixa_bolinha{
    display: flex;
    flex-direction: row;
    display: inline-block;
    margin: 2%;
    font-family: 'fontetexto';
}

.caixa_bolinha input{
    width: 4%;
}

.opcoes{
    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
}

.div4{
    width: 40%;
    background-color: white;
    height: 80px;
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 30%;
}

.div4 button{
    width: 70%;
    background-color: #FB5600;
    padding: 5%;
    border-radius: 20px;
    font-family: 'fontetexto';
    color: white;
    margin: 4% 15%;
    font-size: 20px;
}

.divpai2{
    width: 40%;
}

.divpai2 img{
    width: 100%;
    padding-left: 0%;
    height: 1000px;
    position: relative;
}