.cadastro_vaga{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.comeco_vaga{
    width: 55%;
    height: 180px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.comeco_titulo{
    width: 70%;
    height: 100%;
    padding: 5%;
    font-family: 'fontetexto';
}

.comeco_titulo h1{
    font-size: 30px;
}

.comeco_titulo h2{
    padding-left: 5%;
}

.comeco_imagem{
    width: 30%;
    height: 100%;
}

.comeco_imagem img{
    width: 100%;
    height: 90%;
}

.info_vaga{
    width: 55%;
    height: 190px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2%;
}

.info_vaga p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 1%;
}

.titulo_vaga{
    width: 55%;
    height: 250px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2%;
    font-family: 'fontetexto';
    font-weight: 600;
}

#tipo_vaga{
    display: inline-block;
    font-family: 'fontetexto';
    width: 100%;
    padding: 1% 2%;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 5px;
    border: 1px solid black;
}

.tip_vg{
    margin-top: 3%;
}

.local_vaga{
    width: 55%;
    height: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2%;
    font-family: 'fontetexto';
    font-weight: 600;
}

#cidade_bairro{
    width: 25%;
    margin-top: 5%;
}

.mapa_vaga{
    width: 55%;
    height: 300px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
    display: flex;
}

.nome_cima{
    display: flex;
    display: inline-block;
}

.caixas_local_vaga{
    display: flex;
    flex-direction: row;
    display: inline-block;
}

.salario_num_vaga{
    width: 55%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2%;
    font-weight: 700;
}

.remuneracao_vaga{
    margin-top: 2%;
}

.caixasenha{
    width: 100%;
    height: 100px;
    padding: 2% 0%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nome_senha1{
    float: left;
    width:20%;
}

.nome_senha2{
    float: left;
    width:100%;
}

.bene_vaga{
    width: 55%;
    height: 450px;
    background-color: #ffffff;
    border-radius: 20px;
}

.bene_vaga p{
    padding: 2%;
    font-family: 'fontetexto';
    font-weight: 700;
}

.bene_vaga img{
    width: 100%;
}

.categories{
    padding: 1rem 2rem;
    margin-left: 1%;
    float: left;
}

.category_section{
    display: flex;
    flex-direction: row;
}

.category{
    margin-right: 1rem;
    margin-top: 1rem;
    gap: 10px;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: .3rem 3rem;
    font-size: inherit;
    cursor: pointer;
    font-family: 'fontetexto';
}

.category:hover{
    background-color: #ddd;
}

.category.active{
    background-color: #606060;
    color: white;
    border-color: #eee;
}

.category:last-child{
    margin-right: 0;
}

.tipo_vaga{
    width: 55%;
    height: 350px;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 20px;
    font-weight: 700;
}

.maisinfo_vaga{
    width: 55%;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
}

.notificacao_vaga{
    width: 55%;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
}

.fim_vaga{
    width: 55%;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
}