.depoimento{
    float: left;
    background: #ffffff;
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
    /* font-family: 'fontetexto'; */
}

.depoimento h1{
    color: rgba(244, 156, 21, 1);
    font-size: 45px;
    padding-top: 5%;
    font-weight: 400;
}

.depoimento p{
    font-size: 30px;
    width: 85%;
    padding-left: 15%;
    text-align: center;
    padding-top: 2%;
    font-weight: 400;
}

.relato{
    width: 40%;
    margin-top: 2%;
    height: 350px;
    margin-left: 10%;
    background: linear-gradient(180deg, rgba(5, 16, 46, 0.609) 35.45%, rgba(119, 18, 219, 0.182) 144.08%);
}

.video{
    width: 40%;
    height: 420px;
    background-color: black;
}

.relato_video{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 50px;
}

.relato_foto{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    padding-left: 5%;
}

.relato_foto img{
    width: 30%;
    height: 40%;
    border-radius: 90px 90px;
    background-color: aqua;
}

.relato_foto p{
    color: white;
    font-size: 18px;
    width: 65%;
    text-align: left;
    padding-left: 4%;
    font-weight: 400;
}

#nome_relato{
    color: white;
    font-size: 20px;
    text-align: right;
    margin: 5% 8%;
}