.impacto{
    width: 100%;
    margin-top: 6%;
    font-size: 40px;
    
}

.titulo_impacto{
    font-family: 'fonteheader';
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.container_impacto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}